@font-face {
    font-family: oswald-regular;
    src: url(../../fonts/oswald-regular.woff2);
}
@font-face {
    font-family: oswald-light;
    src: url(../../fonts/oswald-light.woff2);
}
//@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@font-face {
    font-family: "fontello";
    /* src: url('../font/fontello.eot?83682544'); */
    src: url("../../fonts/fontello.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
