$MainFontColor: #ffffff;
$SecondFontColor: #1c1c1b;
$ThirdFontColor: #6e774a;

$MainFontSize: 18px;
$SecondFontSize: 24px;

$MainLetterSpacing: 0.28em;
$SecondLetterSpacing: 0.04em;

$MainLineHeight: 1.66em;

$RegularFontFamily: oswald-regular, sans-serif;
$LightFontFamily: oswald-light, sans-serif;

$browser-context: 16;
$blue: #1779ba;
$gray: #cacaca;
$red: #cc4b37;
$white: #ffffff;
